<icons>
    <group name="Bushes" show="true" color="#A9FF96">
        <match exact="gfx/terobjs/bushes/arrowwood" name="Arrowwood" show="false" />
        <match exact="gfx/terobjs/bushes/blackberrybush" name="Blackberry" image="gfx/invobjs/herbs/blueberry" show="false" />
        <match exact="gfx/terobjs/bushes/blackcurrant" name="Blackcurrant" show="false" />
        <match exact="gfx/terobjs/bushes/blackthorn" name="Blackthorn" show="false" />
        <match exact="gfx/terobjs/bushes/bogmyrtle" name="Bogmyrtle" show="false" />
        <match exact="gfx/terobjs/bushes/boxwood" name="Boxwood" show="false" />
        <match exact="gfx/terobjs/bushes/bsnightshade" name="Nightshade" show="false" />
        <match exact="gfx/terobjs/bushes/caprifole" name="Caprifole" show="false" />
        <match exact="gfx/terobjs/bushes/crampbark" name="Crampbark" show="false" />
        <match exact="gfx/terobjs/bushes/dogrose" name="Dogrose" show="false" />
        <match exact="gfx/terobjs/bushes/elderberrybush" name="Elderberry" show="false" />
        <match exact="gfx/terobjs/bushes/gooseberrybush" name="Gooseberry" show="false" />
        <match exact="gfx/terobjs/bushes/hawthorn" name="Hawthorn" show="false" />
        <match exact="gfx/terobjs/bushes/holly" name="Holly" show="false" />
        <match exact="gfx/terobjs/bushes/raspberrybush" name="Raspberry" show="false" />
        <match exact="gfx/terobjs/bushes/redcurrant" name="Redcurrant" show="false" />
        <match exact="gfx/terobjs/bushes/sandthorn" name="Sandthorn" show="false" />
        <match exact="gfx/terobjs/bushes/spindlebush" name="Spindle" show="false" />
        <match exact="gfx/terobjs/bushes/teabush" name="Tea" show="true" />
        <match exact="gfx/terobjs/bushes/tibast" name="Tibast" show="false" />
        <match exact="gfx/terobjs/bushes/tundrarose" name="Tundrarose" show="false" />
        <match exact="gfx/terobjs/bushes/woodbine" name="Woodbine" show="false" />
        <match startsWith="gfx/terobjs/bushes/" name="Unknown bushes" text="Bush?" show="true" />
    </group>
    <group name="Rocks" show="true" color="#CCCCCC">
        <match startsWith="gfx/terobjs/bumlings/argentite" name="Argentite" image="gfx/invobjs/argentite" show="true" />
        <match startsWith="gfx/terobjs/bumlings/basalt" name="Basalt" image="gfx/invobjs/basalt" show="false" />
        <match startsWith="gfx/terobjs/bumlings/blackcoal" name="Coal" image="gfx/invobjs/coal" show="false" />
        <match startsWith="gfx/terobjs/bumlings/cassiterite" name="Cassiterite" image="gfx/invobjs/cassiterite" show="true" />
        <match startsWith="gfx/terobjs/bumlings/cinnabar" name="Cinnabar" image="gfx/invobjs/cinnabar" show="false" />
        <match startsWith="gfx/terobjs/bumlings/chalcopyrite" name="Chalcopyrite" image="gfx/invobjs/chalcopyrite" show="true" />
        <match startsWith="gfx/terobjs/bumlings/dolomite" name="Dolomite" image="gfx/invobjs/dolomite" show="false" />
        <match startsWith="gfx/terobjs/bumlings/feldspar" name="Feldspar" image="gfx/invobjs/feldspar" show="false" />
        <match startsWith="gfx/terobjs/bumlings/flint" name="Flint" image="gfx/invobjs/flint" show="false" />
        <match startsWith="gfx/terobjs/bumlings/gneiss" name="Gneiss" image="gfx/invobjs/gneiss" show="false" />
        <match startsWith="gfx/terobjs/bumlings/granite" name="Granite" image="gfx/invobjs/granite" show="false" />
        <match startsWith="gfx/terobjs/bumlings/hematite" name="Hematite" image="gfx/invobjs/hematite" show="true" />
        <match startsWith="gfx/terobjs/bumlings/hornsilver" name="Hornsilver" image="gfx/invobjs/hornsilver" show="true" />
        <match startsWith="gfx/terobjs/bumlings/ilmenite" name="Ilmenite" image="gfx/invobjs/ilmenite" show="true" />
        <match startsWith="gfx/terobjs/bumlings/limestone" name="Limestone" image="gfx/invobjs/limestone" show="false" />
        <match startsWith="gfx/terobjs/bumlings/limonite" name="Limonite" image="gfx/invobjs/limonite" show="true" />
        <match startsWith="gfx/terobjs/bumlings/magnetite" name="Magnetite" image="gfx/invobjs/magnetite" show="true" />
        <match startsWith="gfx/terobjs/bumlings/marble" name="Marble" image="gfx/invobjs/marble" show="false" />
        <match startsWith="gfx/terobjs/bumlings/malachite" name="Malachite" image="gfx/invobjs/malachite" show="true" />
        <match startsWith="gfx/terobjs/bumlings/porphyry" name="Porphyry" image="gfx/invobjs/porphyry" show="false" />
        <match startsWith="gfx/terobjs/bumlings/quartz" name="Quartz" image="gfx/invobjs/quartz" show="false" />
        <match startsWith="gfx/terobjs/bumlings/sandstone" name="Sandstone" image="gfx/invobjs/sandstone" show="true" />
        <match startsWith="gfx/terobjs/bumlings/schist" name="Schist" image="gfx/invobjs/schist" show="false" />
        <match startsWith="gfx/terobjs/bumlings/" name="Unknown rocks" text="Rock?" show="true" />
    </group>
    <group name="Trees" show="true" color="#90EE90">
        <match exact="gfx/terobjs/trees/alder" name="Alder" show="false" />
        <match exact="gfx/terobjs/trees/appletree" name="Apple" show="false" />
        <match exact="gfx/terobjs/trees/ash" name="Ash" show="false" />
        <match exact="gfx/terobjs/trees/aspen" name="Aspen" show="false" />
        <match exact="gfx/terobjs/trees/baywillow" name="Buckthorn" show="false" />
        <match exact="gfx/terobjs/trees/beech" name="Beech" show="false" />
        <match exact="gfx/terobjs/trees/birch" name="Birch" show="false" />
        <match exact="gfx/terobjs/trees/birdcherrytree" name="Bird Cherry" show="false" />
        <match exact="gfx/terobjs/trees/buckthorn" name="Buckthorn" show="false" />
        <match exact="gfx/terobjs/trees/cedar" name="Cedar" show="false" />
        <match exact="gfx/terobjs/trees/cherry" name="Cherry" show="false" />
        <match exact="gfx/terobjs/trees/chestnuttree" name="Chestnut" show="false" />
        <match exact="gfx/terobjs/trees/conkertree" name="Conker" show="false" />
        <match exact="gfx/terobjs/trees/corkoak" name="Cork" show="false" />
        <match exact="gfx/terobjs/trees/crabappletree" name="Crabapple" show="false" />
        <match exact="gfx/terobjs/trees/cypress" name="Cypress" show="false" />
        <match exact="gfx/terobjs/trees/fir" name="Fir" show="false" />
        <match exact="gfx/terobjs/trees/goldenchain" name="Goldenchain" show="false" />
        <match exact="gfx/terobjs/trees/hazel" name="Hazel" show="false" />
        <match exact="gfx/terobjs/trees/hornbeam" name="Hornbeam" show="false" />
        <match exact="gfx/terobjs/trees/juniper" name="Juniper" show="false" />
        <match exact="gfx/terobjs/trees/elm" name="Elm" show="false" />
        <match exact="gfx/terobjs/trees/kingsoak" name="Kingsoak" show="false" />
        <match exact="gfx/terobjs/trees/larch" name="Larch" show="false" />
        <match exact="gfx/terobjs/trees/laurel" name="Laurel" show="false" />
        <match exact="gfx/terobjs/trees/linden" name="Linden" show="false" />
        <match exact="gfx/terobjs/trees/maple" name="Maple" show="false" />
        <match exact="gfx/terobjs/trees/mulberry" name="Mulberry" image="gfx/invobjs/mulberry" show="true" />
        <match exact="gfx/terobjs/trees/oak" name="Oak" show="false" />
        <match exact="gfx/terobjs/trees/olivetree" name="Olive" image="gfx/invobjs/olive" show="false" />
        <match exact="gfx/terobjs/trees/oldtrunk" name="Mirkwood" image="gfx/invobjs/wblock-mirkwood" show="false" />
        <match exact="gfx/terobjs/trees/peartree" name="Pear" show="false" />
        <match exact="gfx/terobjs/trees/pine" name="Pine" show="false" />
        <match exact="gfx/terobjs/trees/poplar" name="Poplar" show="false" />
        <match exact="gfx/terobjs/trees/planetree" name="Plane" show="false" />
        <match exact="gfx/terobjs/trees/plumtree" name="Plum" show="false" />
        <match exact="gfx/terobjs/trees/rowan" name="Rowan" show="false" />
        <match exact="gfx/terobjs/trees/sallow" name="Sallow" show="false" />
        <match exact="gfx/terobjs/trees/spruce" name="Spruce" show="false" />
        <match exact="gfx/terobjs/trees/sweetgum" name="Sweetgum" show="false" />
        <match exact="gfx/terobjs/trees/walnuttree" name="Walnut" show="false" />
        <match exact="gfx/terobjs/trees/willow" name="Willow" show="false" />
        <match exact="gfx/terobjs/trees/whitebeam" name="Whitebeam" show="false" />
        <match exact="gfx/terobjs/trees/yew" name="Yew" show="false" />
        <match regex="gfx/terobjs/trees/.+log" name="Logs" text="Log" show="false" />
        <match regex="gfx/terobjs/trees/.+stump" name="Stumps" text="Stump" show="false" />
        <match startsWith="gfx/terobjs/trees/" name="Unknown trees" text="Tree?" show="true" />
    </group>
    <group name="Misc" show="true" color="#ffffff">
        <match exact="gfx/terobjs/items/arrow" name="Arrows" image="gfx/invobjs/arrow-bone" show="true" />
        <match startsWith="gfx/terobjs/road/milestone" name="Milestones" image="paginae/bld/woodendstone" show="false" />
        <match exact="gfx/terobjs/vehicle/bram" name="Battering Rams" image="paginae/bld/bram" size="30x30" show="true" />
    </group>
</icons>