{
  "gfx/borka/body"                 : {
    "show": true,
    "name": "Players"
  },
  "gfx/kritter/ants/ants"          : {
    "show" : false,
    "color": "ffffffee",
    "name" : "Ants"
  },
  "gfx/kritter/badger/badger"      : {
    "show" : true,
    "color": "ff6091ea",
    "name" : "Badgers"
  },
  "gfx/kritter/bat/bat"            : {
    "show" : true,
    "color": "ffff8888",
    "name" : "Bats"
  },
  "gfx/kritter/bear/bear"          : {
    "show" : true,
    "color": "ffe34444",
    "name" : "Bears"
  },
  "gfx/kritter/boar/boar"          : {
    "show" : true,
    "color": "ffff8888",
    "name" : "Boars"
  },
  "gfx/kritter/cattle/aurochs"     : {
    "show": true,
    "name": "Aurochs"
  },
  "gfx/kritter/cattle/"          : {
    "show": false,
    "name": "Cattle"
  },
  "gfx/kritter/chicken/"         : {
    "show" : false,
    "color": "ffffffee",
    "name" : "Chickens"
  },
  "gfx/kritter/dragonfly/dragonfly": {
    "show": false,
    "name": "Dragonflies"
  },
  "gfx/kritter/fox/fox"            : {
    "show" : true,
    "color": "fffaac58",
    "name" : "Foxes"
  },
  "gfx/kritter/frog/frog"          : {
    "show" : false,
    "color": "fffaac58",
    "name" : "Frogs"
  },
  "gfx/kritter/horse/horse"        : {
    "show" : true,
    "color": "ffdfb460",
    "name" : "Horses"
  },
  "gfx/kritter/ladybug/ladybug"    : {
    "show": false,
    "name": "Ladybugs"
  },
  "gfx/kritter/lynx/lynx"          : {
    "show" : true,
    "color": "ffbfb938",
    "name" : "Lynxes"
  },
  "gfx/kritter/pig/"             : {
    "show": false,
    "name": "Pigs"
  },
  "gfx/kritter/rabbit/rabbit"      : {
    "show" : false,
    "color": "ffffffee",
    "name" : "Rabbits"
  },
  "gfx/kritter/rat/rat"            : {
    "show": false,
    "name": "Rats"
  },
  "gfx/kritter/reddeer/reddeer"    : {
    "show" : true,
    "color": "ffe59363",
    "name" : "Deers"
  },
  "gfx/kritter/sheep/mouflon"      : {
    "show": false,
    "name": "Mouflons"
  },
  "gfx/kritter/sheep/"           : {
    "show": false,
    "name": "Sheep"
  },
  "gfx/kritter/silkmoth/silkmoth"  : {
    "show": false,
    "name": "Silkmoths"
  },
  "gfx/kritter/toad/toad"          : {
    "show": false,
    "name": "Toads"
  },
  "gfx/terobjs/vehicle/rowboat"    : {
    "show": true,
    "name": "Boats"
  }
}