<icons>
    <group name="Bushes" show="true" color="#ffff00">
        <match exact="gfx/terobjs/bushes/arrowwood" title="Arrowwood" />
        <match regex="gfx/terobjs/bushes/.+" title="Unknown" show="true" />
    </group>
    <group name="Rocks" show="true" color="#ffff00">
        <match startsWith="gfx/terobjs/bumlings/hematite" title="Hematite" />
        <match regex="gfx/terobjs/bumlings/.+" title="Unknown" show="true" />
    </group>
    <group name="Trees" show="true" color="#ffff00">
        <match exact="gfx/terobjs/trees/alder" title="Alder" />
        <match regex="gfx/terobjs/trees/.+" title="Unknown" show="true" />
    </group>
    <group name="Custom" show="true" color="#ffff00">
        <match exact="gfx/terobjs/items/arrow" title="Arrows" show="true" />
    </group>
</icons>