<icons>
    <group name="Bushes" show="true" color="#A9FF96">
        <match exact="gfx/terobjs/bushes/arrowwood" title="Arrowwood" show="false" />
        <match exact="gfx/terobjs/bushes/blackberrybush" title="Blackberry" show="false" />
        <match exact="gfx/terobjs/bushes/blackcurrant" title="Blackcurrant" show="false" />
        <match exact="gfx/terobjs/bushes/blackthorn" title="Blackthorn" show="false" />
        <match exact="gfx/terobjs/bushes/bogmyrtle" title="Bogmyrtle" show="false" />
        <match exact="gfx/terobjs/bushes/boxwood" title="Boxwood" show="false" />
        <match exact="gfx/terobjs/bushes/bsnightshade" title="Nightshade" show="false" />
        <match exact="gfx/terobjs/bushes/caprifole" title="Caprifole" show="false" />
        <match exact="gfx/terobjs/bushes/crampbark" title="Crampbark" show="false" />
        <match exact="gfx/terobjs/bushes/dogrose" title="Dogrose" show="false" />
        <match exact="gfx/terobjs/bushes/elderberrybush" title="Elderberry" show="false" />
        <match exact="gfx/terobjs/bushes/gooseberrybush" title="Gooseberry" show="false" />
        <match exact="gfx/terobjs/bushes/hawthorn" title="Hawthorn" show="false" />
        <match exact="gfx/terobjs/bushes/holly" title="Holly" show="false" />
        <match exact="gfx/terobjs/bushes/raspberrybush" title="Raspberry" show="false" />
        <match exact="gfx/terobjs/bushes/redcurrant" title="Redcurrant" show="false" />
        <match exact="gfx/terobjs/bushes/sandthorn" title="Sandthorn" show="false" />
        <match exact="gfx/terobjs/bushes/spindlebush" title="Spindle" show="false" />
        <match exact="gfx/terobjs/bushes/teabush" title="Tea" show="true" />
        <match exact="gfx/terobjs/bushes/tibast" title="Tibast" show="false" />
        <match exact="gfx/terobjs/bushes/tundrarose" title="Tundrarose" show="false" />
        <match exact="gfx/terobjs/bushes/woodbine" title="Woodbine" show="false" />
        <match startsWith="gfx/terobjs/bushes/" title="Bush?" show="true" />
    </group>
    <group name="Rocks" show="true" color="#CCCCCC">
        <match startsWith="gfx/terobjs/bumlings/blackcoal" title="Coal" show="false" />
        <match startsWith="gfx/terobjs/bumlings/cassiterite" title="Cassiterite" show="true" />
        <match startsWith="gfx/terobjs/bumlings/cinnabar" title="Cinnabar" show="false" />
        <match startsWith="gfx/terobjs/bumlings/chalcopyrite" title="Chalcopyrite" show="true" />
        <match startsWith="gfx/terobjs/bumlings/dolomite" title="Dolomite" show="false" />
        <match startsWith="gfx/terobjs/bumlings/feldspar" title="Feldspar" show="false" />
        <match startsWith="gfx/terobjs/bumlings/flint" title="Flint" show="false" />
        <match startsWith="gfx/terobjs/bumlings/granite" title="Granite" show="false" />
        <match startsWith="gfx/terobjs/bumlings/hematite" title="Hematite" show="true" />
        <match startsWith="gfx/terobjs/bumlings/limestone" title="Limestone" show="false" />
        <match startsWith="gfx/terobjs/bumlings/limonite" title="Limonite" show="true" />
        <match startsWith="gfx/terobjs/bumlings/magnetite" title="Magnetite" show="true" />
        <match startsWith="gfx/terobjs/bumlings/malachite" title="Malachite" show="true" />
        <match startsWith="gfx/terobjs/bumlings/porphyry" title="Porphyry" show="false" />
        <match startsWith="gfx/terobjs/bumlings/quartz" title="Quartz" show="false" />
        <match startsWith="gfx/terobjs/bumlings/" title="Rock?" show="true" />
    </group>
    <group name="Trees" show="true" color="#90EE90">
        <match exact="gfx/terobjs/trees/alder" title="Alder" show="false" />
        <match exact="gfx/terobjs/trees/appletree" title="Apple" show="false" />
        <match exact="gfx/terobjs/trees/ash" title="Ash" show="false" />
        <match exact="gfx/terobjs/trees/aspen" title="Aspen" show="false" />
        <match exact="gfx/terobjs/trees/baywillow" title="Buckthorn" show="false" />
        <match exact="gfx/terobjs/trees/beech" title="Beech" show="false" />
        <match exact="gfx/terobjs/trees/birch" title="Birch" show="false" />
        <match exact="gfx/terobjs/trees/birdcherrytree" title="Bird Cherry" show="false" />
        <match exact="gfx/terobjs/trees/buckthorn" title="Buckthorn" show="false" />
        <match exact="gfx/terobjs/trees/cedar" title="Cedar" show="false" />
        <match exact="gfx/terobjs/trees/cherry" title="Cherry" show="false" />
        <match exact="gfx/terobjs/trees/chestnuttree" title="Chestnut" show="false" />
        <match exact="gfx/terobjs/trees/conkertree" title="Conker" show="false" />
        <match exact="gfx/terobjs/trees/corkoak" title="Cork" show="false" />
        <match exact="gfx/terobjs/trees/crabappletree" title="Crabapple" show="false" />
        <match exact="gfx/terobjs/trees/cypress" title="Cypress" show="false" />
        <match exact="gfx/terobjs/trees/fir" title="Fir" show="false" />
        <match exact="gfx/terobjs/trees/goldenchain" title="Goldenchain" show="false" />
        <match exact="gfx/terobjs/trees/hazel" title="Hazel" show="false" />
        <match exact="gfx/terobjs/trees/hornbeam" title="Hornbeam" show="false" />
        <match exact="gfx/terobjs/trees/juniper" title="Juniper" show="false" />
        <match exact="gfx/terobjs/trees/elm" title="Elm" show="false" />
        <match exact="gfx/terobjs/trees/kingsoak" title="Kingoak" show="false" />
        <match exact="gfx/terobjs/trees/larch" title="Larch" show="false" />
        <match exact="gfx/terobjs/trees/laurel" title="Laurel" show="false" />
        <match exact="gfx/terobjs/trees/linden" title="Linden" show="false" />
        <match exact="gfx/terobjs/trees/maple" title="Maple" show="false" />
        <match exact="gfx/terobjs/trees/mulberry" title="Mulberry" show="true" />
        <match exact="gfx/terobjs/trees/oak" title="Oak" show="false" />
        <match exact="gfx/terobjs/trees/olivetree" title="Olive" show="false" />
        <match exact="gfx/terobjs/trees/oldtrunk" title="Mirkwood" show="true" />
        <match exact="gfx/terobjs/trees/peartree" title="Pear" show="false" />
        <match exact="gfx/terobjs/trees/pine" title="Pine" show="false" />
        <match exact="gfx/terobjs/trees/poplar" title="Poplar" show="false" />
        <match exact="gfx/terobjs/trees/planetree" title="Plane" show="false" />
        <match exact="gfx/terobjs/trees/plumtree" title="Plum" show="false" />
        <match exact="gfx/terobjs/trees/rowan" title="Rowan" show="false" />
        <match exact="gfx/terobjs/trees/sallow" title="Sallow" show="false" />
        <match exact="gfx/terobjs/trees/spruce" title="Spruce" show="false" />
        <match exact="gfx/terobjs/trees/sweetgum" title="Sweetgum" show="false" />
        <match exact="gfx/terobjs/trees/walnuttree" title="Walnut" show="false" />
        <match exact="gfx/terobjs/trees/willow" title="Willow" show="false" />
        <match exact="gfx/terobjs/trees/whitebeam" title="Whitebeam" show="false" />
        <match exact="gfx/terobjs/trees/yew" title="Yew" show="false" />
        <match regex="gfx/terobjs/trees/.+log" title="Log" show="false" />
        <match regex="gfx/terobjs/trees/.+stump" title="Stump" show="false" />
        <match startsWith="gfx/terobjs/trees/" title="Tree?" show="true" />
    </group>
    <group name="Custom" show="true" color="#ffff00">
        <match exact="gfx/terobjs/items/arrow" title="Arrow" image="gfx/invobjs/arrow-bone" show="true" />
    </group>
</icons>